@import "normalize";

div {
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: rgb(0, 0, 20);
  margin-top: 40px;
}

.nodes {
  display: flex;
  flex-wrap: wrap;
}

.node-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted {
  .node {
    transform: scale(1.2);
    z-index: 3;
    transition: all 0.3s;
    border: 1px solid white;
  }

  .block-height {
    color: black white;
    z-index: 3;
  }
}

.node {
  cursor: pointer;
  border-radius: 3px;
  margin: 12px;
  height: 50px;
  width: 50px;
  background-color: gray;
  opacity: 1;
  transition: all 0.3s;
  transform: scale(1);
  border: 1px solid rgba(0, 0, 0, 0);

  &.mining {
    animation: mining 1s infinite;
  }

  &.mined-block {
    background-color: gold;
    animation: mined 0.5s 1;
  }

  &.received-block {
    border: 1px solid gold;
    transform: scale(0.9);
  }
}

.block-height {
  position: absolute;
  pointer-events: none;
  animation: fadein 1s 1;
}

.blockchain {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.ledger-entry {
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border-color: white;
  }
  z-index: 1;
  display: flex;
  animation: growin 1s 1;
  padding: 5px;
  border-radius: 3px;
  margin: 12px;
  border: 1px solid gray;
  width: 75;
  overflow: hidden;
  align-items: center;
  transform: translateZ(0px);
  opacity: 1;
}

.ledger-entry-address {
  text-align: right;
  flex: 1;
  opacity: 0.5;
  margin-right: 10px;
}

.ledger-entry-value {
  flex: 1;
  font-weight: bold;
  color: gold;
}

@keyframes growin {
  0% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes mining {
  50% {
    opacity: 0.5;
  }
}

@keyframes mined {
  100% {
    transform: rotateZ(180deg);
  }
}

.floating {
  z-index: 3;
}

.floating .node {
  z-index: 3;
}

.floating .block-height {
  z-index: 3;
}

.menu {
  font-weight: bold;
  top: 70px;
  left: 12px;
  width: 200px;
  z-index: 3;
  animation: fadein 0.3s 1;
  position: absolute;
  color: white;
}

.mine-all {
  cursor: pointer;
  color: white;
  margin-left: 12px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: white - 40;
  }
  margin-bottom: 10px;
}

.ledger-header {
  position: relative;
  z-index: 2;
  display: flex;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
  color: gold;
  padding-top: 10px;
  border-top: 1px solid gold;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  animation: growin 0.5s 1;
  margin-bottom: 10px;

  .ledger-subheader {
    margin-left: 8px;
    opacity: 0.5;
    text-transform: uppercase;
    // color: white;
    font-weight: normal;
    font-size: 12px;
  }
}

.menu-item + .menu-item {
  margin-top: 5px;
}

.menu-item {
  cursor: pointer;
  &:hover {
    color: white - 20;
  }
}

.overlay {
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadein 0.3s 1;
}

.ledger-overlay {
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadein 0.3s 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}

// Script Section

textarea {
  background-color: rgb(0, 0, 20);
  padding: 10px;
  border-color: rgb(90, 90, 250);
  border-radius: 3px;
  color: #eee;
  // border: none;
  outline: none;
  width: 100%;
  height: 200px;
  resize: none;
}

.program {
  margin-top: 15px;
  display: flex;
}

.token {
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: bold;
  color: gold;
  border: 1px solid gold;

  & + .token {
    margin-left: 8px;
  }

  &.function {
    color: white;
    border: none;
    font-weight: normal;
    font-style: italic;
    background-color: gray;
    background-color: rgb(90, 90, 250);
  }
}

.program-header {
  display: flex;
  color: white;
  color: rgb(90, 90, 250);
  padding-top: 10px;
  border-top: 1px solid rgb(90, 90, 250);
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: baseline;
  // animation: growin 0.5s 1;
  margin-bottom: 10px;
}

@keyframes slidedown {
  0% {
    height: 0px;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
  }
}

// Transaction stuff

.transaction-container {
  animation: slidedown 0.7s 1;
  height: 100px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  .ledger-subheader {
    cursor: pointer;
    font-weight: bold;
  }
}

.transaction-form {
  margin: 0 12px;
  display: flex;
  color: gray;

  > div {
    position: relative;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid gold;
    &:after {
      position: absolute;
      right: -23px;
      font-weight: bold;
      color: gold;
      content: "→";
    }
    margin-right: 30px;
  }

  .transaction-amount {
    border: 1px solid gold;
    font-weight: bold;
    color: gold;
  }

  .transaction-from {
    border-color: gray;
    &:after {
      content: "–";
      right: -20px;
    }
  }

  .transaction-to {
    border-color: gray;
    &:after {
      content: none;
    }
  }

  .transaction-submit {
    animation: growin 0.5s 1;
    right: -15px;
    position: absolute;
    background-color: gold;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    &:after {
      content: none;
    }
  }
}

// Stats

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.stats {
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  color: gray;
  padding: 10px;
  text-align: right;
  border-radius: 3px;
  width: 200px;
}

.stat {
  animation: slidedown 0.5s 1;
  border-right: 1px solid gray;
  padding-right: 10px;

  & + .stat {
    margin-top: 10px;
  }
}

.stat-term {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.stat-definition {
  color: #eee;
  text-transform: uppercase;
}

.main {
  width: 600px;
  margin-right: 200px;
}
