@import "normalize";

div {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 20);
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}

.nodes {
  display: flex;
  flex-wrap: wrap;
}

.node-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  cursor: pointer;
  border-radius: 3px;
  margin: 12px;
  height: 50px;
  width: 50px;
  background-color: gray;
  opacity: 1;
  transition: all 0.3s;
  transform: scale(1);
  border: 1px solid rgba(0, 0, 0, 0);

  &.mining {
    animation: mining 1s infinite;
  }

  &.mined-block {
    background-color: gold;
    animation: mined 0.5s 1;
  }

  &.received-block {
    border: 1px solid gold;
    transform: scale(0.9);
  }
}

.block-height {
  position: absolute;
  pointer-events: none;
  animation: fadein 1s 1;
}

.blockchain {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.ledger-entry {
  transition: all 0.3s;
  display: flex;
  animation: growin 1s 1;
  padding: 5px;
  border-radius: 3px;
  margin: 12px;
  border: 1px solid gray;
  width: 75;
  overflow: hidden;
  align-items: center;
  transform: translateZ(0px);
  opacity: 1;
}

.ledger-entry-address {
  text-align: right;
  flex: 1;
  opacity: 0.5;
  margin-right: 10px;
}

.ledger-entry-value {
  flex: 1;
  font-weight: bold;
  color: gold;
}

@keyframes growin {
  0% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes mining {
  50% {
    opacity: 0.5;
  }
}

@keyframes mined {
  100% {
    transform: rotateZ(180deg);
  }
}

.floating {
  z-index: 3;
}

.floating .node {
  z-index: 3;
}

.floating .block-height {
  z-index: 3;
}

.menu {
  font-weight: bold;
  top: 70px;
  left: 12px;
  width: 200px;
  z-index: 3;
  animation: fadein 0.3s 1;
  position: absolute;
  color: white;
}

.mine-all {
  cursor: pointer;
  color: white;
  margin-left: 12px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: white - 40;
  }
  margin-bottom: 10px;
}

.ledger-header {
  display: flex;
  color: white;
  margin-left: 12px;
  color: gold;
  padding-top: 10px;
  border-top: 1px solid gold;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: baseline;
  animation: growin 0.5s 1;
  margin-bottom: 10px;

  .ledger-subheader {
    margin-left: 8px;
    opacity: 0.5;
    text-transform: uppercase;
    // color: white;
    font-weight: normal;
    font-size: 12px;
  }
}

.menu-item + .menu-item {
  margin-top: 5px;
}

.menu-item {
  cursor: pointer;
  &:hover {
    color: white - 20;
  }
}

.overlay {
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadein 0.3s 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}
